
.div {
    text-align: center;
}

body {
}

.img {
    height: 70vh;
    min-height: 500px;
    background: url(../pictures/code.png);
    background-size: cover;
    background-attachment: fixed;
    white-space: nowrap;
}
